.center_banners_recommends_box{
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_events_news_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_companies_news_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_events_by_countries{
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_events_by_categories {
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_companies_title_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_companies_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}