.center_banners_recommends_box{
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_events_news_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_companies_news_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}