#head {
	width:980px;
	height: 125px;
	float: none;
	clear: both;
}
.header_left_box {
	float:left;
	clear:none;
	margin-top: 10px;
}
.header_banner_box {
	float: left;
	clear: none;
	margin-left: 70px;
}
.header_user_box {
	float: right;
	clear: none;
	margin: 35px 60px 0 0 ;
	font-family: arial;
}