.center_events_news_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}
.center_companies_news_box {
	clear:both;
	float:none;
	margin-bottom:10px;
}
div.right_advert_box {
	width: 250px;
	clear:both;
	float:none;
	margin-bottom:10px;
}