.right_banners_advert_box {
	width: 250px;
	clear:both;
	float:none;
	margin-bottom:10px;
}
.right_banners_250x250_box {
	float: none;
	clear: both;
	margin-bottom: 10px;
	width: 250px;
}
