.right_advert_head {
	width:100%;
	height: 28px;
}
.right_advert_title {
	background: url(/img/index/center_f.png) repeat-x 0 0 scroll transparent;
	height: 28px;
	width: 238px;
}
.right_advert_title span{
	margin-left: 10px;
	line-height: 28px;
	color: #0054a6;
	font-weight:bold;
	font-size:12px;
}
.right_advert_content_box {
	border: 1px solid #bfcedc;
	padding: 10px;
}
.right_advert_one_row {
	margin-top: 5px;
}
.right_advert_one_row img {
	width: 100px;
	height: 100px;
	float: left;
	clear: none;
}
.right_advert_text_box {
	width: 125px;
}
.right_advert_text_box span.text {
	color: #999999;
	font-size: 9px;
	margin-left: 10px;
}
.right_advert_text_box a {
	margin-left: 10px;
	display: block;
	color: #0054a6;
	font-size: 12px;
	text-decoration: none;
}
.right_advert_text_box a:hover {
	text-decoration: underline;
}