.right_advert_head {
	width:100%;
	height: 28px;
}
.right_top_comp_content_box {
	border: 1px solid #bfcedc;
	padding: 10px;
}
.right_top_comp_text_box {
	margin-top: 10px;
	width: 220px;
}
.right_top_comp_text_box a {
	display: block;
	color: #0d74c4;
	font-size: 12px;
}