.footer_inner_box {
	width:980px;
	margin: 10px auto;
}
.footer_one_column {
	margin-left: 30px;
	width: 210px;
}
.footer_one_column span {
	color: #0054a6;
	display: block;
}
.footer_one_column a {
	color: #666666;
	display: block;
}
.footer_one_column a:hover {
	color: #0054a6;
}
