.user_buttons_box {
	float:none;
	clear:both;
}
.user_links_box {
	float:none;
	clear:both;
	margin: 5px 0 0 15px;
}
.user_button_logon {
	float: left;
	clear: none;
	padding-left: 15px;
	background: url(/img/enter_ico.gif) no-repeat 0 4px;
	color: #0054a6;
}
.user_button_reg {
	float: left;
	clear: none;
	padding-left: 15px;
	background: url(/img/user_ico.png) no-repeat 0 4px;
	margin-left: 20px;
	color: #0054a6;
}
.user_button_logon a,
.user_button_reg a {
	color: #0054a6;
	font-weight: bold;
	font-size: 14px;
}
.user_links {
	float: none;
	clear: both;
}
.user_link_save {
	float: right;
	clear: none;
	margin-right: 20px;
	color: #0054a6;
}
.user_link_save a {
	color: #0054a6;
}
.user_link_subscribe {
	float:none;
	clear:both;
	color: #999999;
}
.user_link_subscribe a {
	color: #999999;
}
.user_link_favorites {
	float: left;
	clear: none;
	color: #999999;
}
.user_link_favorites a {
	color: #999999;
}
.login_window {
	left: 725px;
	top: 15px;
}
.login_window .window_header {
	background-color:#dce9f5;
}
.login_window .window_header .center_f{
	width:210px;
}
.login_window .window_header .lf {
	background: url(/img/site/lw/left_f.png) no-repeat 0 0 scroll transparent;
}
.login_window .window_header .rf {
	background: url(/img/site/lw/right_f.png) no-repeat 0 0 scroll transparent;
}
.login_window .window_content .window_field .window_field_content input{
	width: 125px;
}
.login_window .window_content {
	padding:6px;
}
.login_window .window_inner_content {
	width:208px;
}
.login_window .error {
	color:red;
}