/*                          GENERAL STYLES                              */
div.all_card_content_box {
	margin: 10px;
	color: #999999;
}
div.all_card_content_box div {
	position: relative;
}
div.all_card_content_box a {
	text-decoration: underline;
	color: #999999;
}
div.all_card_content_box a:hover {
	text-decoration: none;
}
div.card_crumbs {
	padding: 5px 0;
}
div.card_desc_box {}
div.card_desc_box div.left_col {
	width: 510px;
}
div.card_desc_box div.right_col {
	width: 190px;
}
div.right_tab {
	z-index: 1;
}
div.card_right_tabs_body_box {
	background: none repeat scroll 0 0 #EBF6FF;
	border: 1px solid #BFCEDC;
	top: -1px;
	z-index: 0;
	padding: 10px;
}
div.card_right_tab_row {
	margin-top: 5px;
}
div.card_right_tab_row a {
	color: #0054a6;
	line-height: 29px;
	float:left;
	clear:none;
}
div.card_right_tab_ico,
div.take_part,
div.business_tour,
div.aero_tiket,
div.tiket
{
	width: 32px;
	height: 29px;
	margin-right: 5px;
}
div.take_part {   background:url(/img/card/tabs/take_part.png) no-repeat center center scroll transparent; }
div.tiket {   background:url(/img/card/tabs/card_tiket.png) no-repeat center center scroll transparent; }
div.business_tour {   background:url(/img/card/tabs/business_tour.png) no-repeat center center scroll transparent; }
div.aero_tiket {   background:url(/img/card/tabs/aero_tiket.png) no-repeat center center scroll transparent; }
div.subscribe_box {
	padding: 10px 0;
	width: 100%;
}

div.subscribe_box div.left_border,
div.subscribe_box div.right_border{
	width: 5px;
	height: 35px;
}
div.subscribe_box div.left_border {    background: url(/img/card/subscribe_left.png) no-repeat; }
div.subscribe_box div.right_border{    background: url(/img/card/subscribe_right.png) no-repeat; }
div.subscribe_box div.body_center {
	background: #eff0f1;
	line-height: 35px;
	width: 690px;
}
div.subscribe_box div.body_center span {
	float: left;
	clear: none;
}
div.subscribe_box div.body_center input {
	margin-top: 11px;
	float: left;
	clear: none;
}
div.subscribe_box div.body_right_field input {
	width: 140px;
	height:15px;
	margin-right:5px;
	margin-top:7px;
}
div.subscribe_box div.body_right_btn input {
	width: 29px;
	height: 20px;
	margin-right:5px;
	margin-top:7px;
}
div.card_title_box {
	color: #dd5500;
	font-size: 18px;
	line-height: 18px;
	padding: 5px 0 10px;
}
div.card_title_box span {float:left;clear:none;}
div.card_title_box a {
	font-size: 11px;
	color: #999999;
	float: left;
	clear: none;
}
div.card_title_box div.fav_ico {
	background: url(/img/index/star.png) no-repeat;
	width: 12px;
	height: 11px;
	margin:5px 2px 0 10px;
}
div.card_main_info {}
div.card_main_info img {
	width: 130px;
	margin-right: 10px;
	float: left;
	clear: none;
}
div.card_main_info_desc {}

div.span_box {}
div.span_box span {}
div.span_box a {color: #0054a6;}

div.card_main_info_desc div.date {color: #dd5500; font-size: 14px;}
div.card_main_info_desc div.place {color: #000000; font-size: 14px;}

div.recommendation_box {}
div.one_recommendation_box {
	margin: 5px;
	text-align: center;
	width: 105px;
}
div.one_recommendation_box img{
	width: 105px;
	height: 105px;
	clear: both;
	float: none;
}
div.one_recommendation_box a { color: #0054a6; }

/*                          END GENERAL STYLES                              */
/*                          GENERAL TAB STYLES                          */
div.card_tabs_box div.tab_left {
	background: url(/img/card/tabs/card_unactive_left.png) no-repeat;
	width: 4px;
	height:25px;
}
div.card_tabs_box div.tab_center {
	background: #ebf6ff;
	line-height: 24px;
	padding: 0 5px;
	border-top: 1px solid #bfcedc;
	border-bottom: 1px solid #bfcedc;
	font-size: 14px;
	color: #0054a6;
}
div.card_tabs_box div.tab_right {
	background: url(/img/card/tabs/card_unactive_right.png) no-repeat;
	width: 4px;
	height:25px;
}
/*                          END GENERAL TAB STYLES                          */
/*                          DESCRIPTION TAB                                */
div.card_description_tab {
	color: #333333;
	font-size: 12px
}
div.card_description_tab div.title{
	margin: 10px 0;
	font-weight: bold;
	color: #0054a6;
}
div.card_description_tab div.text {
}
div.card_description_tab p {
	margin-top: 10px;
}
/*                          END DESCRIPTION TAB                                  */
/*                       NEWS_FULL TAB                           */
div.news_full_header {
	font-size: 18px;
	color: #dd5500;
	margin: 10px 0;
}
div.news_full span {
	color: #666666;
}
div.news_full span p {
	margin-top: 10px;
}
div.news_full a {
	color: #999999;
}
/*                      END NEWS_FULL TAB                           */
/*                          NEWS PAD                                */
div.card_news_tab {
	padding: 10px 10px 0;
}
div.card_one_news {}
div.card_one_news_desc {
	border-right: 1px solid #bfcedc;
	min-height: 110px;
	width: 560px;
}
div.card_one_news_desc_title a {
	color: #0054a6;
	font-weight: bold;
	font-size: 14px;
}
div.card_one_news_desc_text {
	color: #666666;
	font-size: 12px;
}
div.card_one_news_date {
	line-height: 110px;
	font-size: 10px;
	margin-left:20px;
}
/*                         END NEWS PAD                                */
/*                          PHOTO TAB                                */
div.card_photo_tab {}
div.main_photo_box img{
	width: 680px;
	height: 520px;
	margin: 10px 0;
}
/*
div.card_photo_tab_nav {
	margin-top:10px;
	overflow-x:auto !important;
	height: 105px;
}
div.card_photo_tab_nav ul {
	margin-left: 0px;
}
div.card_photo_tab_nav ul li {
	float: left;
	clear: none;
}
div.card_photo_tab_nav ul li a img {
	width: 110px;
	height: 85px;
	margin-right: 10px;
}
*/
.photoslider {
}

.photoslider_nav {
	position: relative;
	/*border: solid black 1px;*/
	overflow: hidden;
	height: 142px;
	width: 655px;
	margin: auto;
}

.photoslider_thumbBar {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	margin: 0;
	padding: 0;
	height:142px;
}

.photoslider_thumb {
	position: relative;
	/*border: solid black 1px;*/
	float: left;
	margin: 5px;
	cursor: pointer;
	height:110px;
	line-height:107px;
	vertical-align: middle;
}

.photoslider_thumb img {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
	zoom:1;
	//display:inline;
	margin: 5px;
}
.photoslider_thumb_active img{
	border: solid 5px #f1ff83;
}

.photoslider_clear {
	clear: both;
}

.photoslider_main  {
	position: relative;
	padding-bottom: 5px;
	cursor:pointer;
}

.photoslider_main img {
	position: relative;
	border: solid #000 10px;
	display: block;
	margin: auto;
	max-width: 630px;
}

.photoslider_caption {
	font-weight: bold;
	text-align: center;
}

.photoslider_control {
	display: none;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	margin: auto;
	height: 30px;
	width: 52px;
}

.photoslider_play, .photoslider_stop {
	width: 18px;
	height: 19px;
	margin: auto;
	padding: 3px;
	cursor: pointer;
	text-align: center;
	border: solid #fff 1px;
	float: left;
}

.photoslider_play {
	background: url('/img/play_pause.gif') no-repeat 0px 0px;
}

.photoslider_stop {
	background: url('/img/play_pause.gif') no-repeat -25px 0px;
}

.slideshow_disabled {
	border-bottom: solid #919191 2px;
}
/*                          END PHOTO TAB                                */
/*                          FILES TAB                                   */
div.card_files_tab {}
div.card_files_title_box div.files_title {
	color: #333333;
}
div.document_info_box {
	width: 100px;
	text-align: center;
	color: #999999;
}
div.doc_ico {
	background: url(/img/card/tabs/files_word_ico.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
div.xls_ico {
	background: url(/img/card/tabs/files_excel_ico.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
div.pdf_ico {
	background: url(/img/card/tabs/files_pdf_ico.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
div.card_news_one_row {
	padding: 10px 0;
	border-bottom: 1px dashed #c5c5c5;
}
div.card_news_one_row a {
	color: #0054a6;
	font-size: 12px;
	text-decoration: underline;
}
div.card_news_one_row a:hover { text-decoration: none; }
/*                         END FILES TAB                                   */
/*                              MAP TAB                                   */
#venue_map {
	height: 500px;
	width: 100%;
}
#venue_map div {
	overflow: visible;
}
.ui-tabs .ui-tabs-hide {
	position: absolute !important;
	left: -10000px !important;
}
/*                           END MAP TAB                                 */
/*                           MESSAGES TAB                                */
.adm_msg_box {
	background: #f1f6fb;
	border: 1px solid #d2e2f2;
}
.adm_msg_title {
	text-align: center;
	color: #0054a6;
	font-size: 14px;
	margin-top: 10px;
}
.adm_msg_content {
	padding: 0;
}
.adm_msg_content .adm_msg_field {}
.adm_msg_content .adm_msg_field .adm_msg_field_content input,
.adm_msg_content .adm_msg_field .adm_msg_field_content select,
.adm_msg_content .adm_msg_field .adm_msg_field_content textarea {
	margin-bottom: 5px;
	width: 290px;
}
.adm_msg_content .adm_msg_field .adm_msg_field_content input{
	height: 15px;
}
.adm_msg_content .adm_msg_field .adm_msg_field_content input.radio_button{
	width: 13px;
	height: 13px;
	margin: 0 0 0 15px;
}
.adm_msg_content .adm_msg_field .adm_msg_field_content select {
	height: 21px;
}
.adm_msg_content .adm_msg_field .adm_msg_field_content textarea {
	height: 60px;
}
.adm_msg_content .adm_msg_content_right .adm_msg_field .adm_msg_field_content textarea {
	height: 155px;
}
.adm_msg_content_left {
	width: 340px;
	float: left;
	clear: none;
}
.adm_msg_content_right {
	width: 315px;
}
.adm_msg_content .adm_msg_field .adm_msg_field_title {
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	float: left;
	clear: none;
}
.adm_msg_content .adm_msg_field .adm_msg_field_title span {
	color: red;
}
.adm_msg_content_submit {
	text-align:center;
}
.adm_msg_content .captcha_box .captcha_title {
	width:130px;
}
.adm_msg_content .captcha_box .captcha_title .adm_msg_field_content input{
	float: left;
	margin-left: 15px;
	margin-top: 16px;
	width: 90px;
}
.adm_msg_content .captcha_box .captcha_img{
	width: 185px;
	height: 80px;
	vertical-align: middle;
	line-height: 77px;
	text-align: center;
}
.adm_msg_content .captcha_box .captcha_img img{
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
//display:inline;
	position: relative;
}
li.tab_title_messages {
	float: right !important;
	margin-right: 0 !important;
}
.card_tabs_box .ui-tabs .ui-tabs-panel {
	-moz-border-radius-topright: 0;
}
.statusBox,
.statusBox div,
.statusBox div h3{
	width: 100%;
	color: green !important;
	font-size: 14px;
	text-align: center;
	font-weight:bold;
	margin-top:5px;
}
#requestForm .error{
	margin-bottom:10px;
	clear:both;
	float:none;
}
/*                         END MESSAGES TAB                              */
/*                          VIDEO TAB                                   */
div.video_tab_one_row{
	margin-bottom: 10px;
}
div.video_tab_one_row .video_tab_img{
	width: 120px;
	height: 90px;
	float: left;
	clear: none;
}
div.video_tab_one_row .video_tab_img img.arrow{
	position:absolute;
	left: 40px;
	top: 25px;
	opacity: .7;
	filter:Alpha(Opacity=70);
}
div.video_tab_desc_box{
	width: 520px;
	margin-left: 10px;
}
div.video_tab_desc_box a {
	font-size:14px;
	font-weight: bold;
	color:#0054a6;
}
div.video_tab_desc_box span {
	font-size: 10px;
	margin-right: 10px;
}
div.video_tab_desc_text {
	color: #666666;
	font-size: 12px;
	margin-top:5px;
}
/*                          END VIDEO TAB                                   */
/*                      VIDEO_FULL TAB                                   */
div.card_video_full {
}
div.card_video_full a {
	color: #999999;
}
div.card_video_title {
	font-size: 18px;
	color: #dd5500;
	margin: 20px 0 10px;
}
div.card_video_box {
	width:538px;
	height:438px;
	margin:0 auto;
	padding: 0;
}
div.card_video_info {
	width:538px;
	margin:0 auto;
	padding: 0;
}
div.video_info_box {}
div.video_info_box div.left {}
div.video_info_box div.right { width: auto; }
div.video_info_box_left a{
	color: #0054a6;
}
div.video_info_box div.right_col {}
div.video_full_tab_text {
	color: #666666;
	font-size: 12px;
	margin-top:10px;
}
/*                      END VIDEO_FULL TAB                           */
/*                         HOSTELS TAB                                   *
div.card_hostels_tab {
	padding: 10px;
}
div.card_one_hostel_tab {
	margin-top: 10px;
}
div.card_one_hostel_tab img {
	width: 105px;
	height: 105px;
	float: left;
	clear: none;

}
div.card_hostels_tab_desc_box {
	margin-left: 10px;
	width: 200px;
}
div.card_hostel_name a {
	color: #0054a6;
	font-size: 14px;
	font-weight: bold;
}
div.card_hostel_address {
	font-size: 12px;
	color: #333333;
}
div.contents_btn {
	background: url(/img/card/contents_btn.png) no-repeat;
	width: 78px;
	height: 19px;
	margin: 10px 0;
}
/*                        END HOSTELS TAB                                   */