.events_index_box{
	width: 510px;
	margin-top:20px;
}
.events_index_title, .events_index_title a{
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	color: #0054a6;
}
.events_index_content{
}
.events_index_item{
	border-bottom: 1px dashed #cccccc;
	padding:0 10px 7px;
}
.events_index_item_title, .events_index_item_title a{
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	color: #dd5500;
}
.events_index_item_title{
	margin-top:15px;
}
.events_index_item_content_box{
	margin-top:10px;
}
.events_index_item_logo{
	background: url(/img/events_logo_bg.png) no-repeat;
	border: 1px solid #c2d1de;
	width:78px;
	height:78px;
	vertical-align:middle;
	line-height:78px;
	text-align:center;
}
.events_index_item_logo img{
	vertical-align:middle;
}
.events_index_item_content{
	margin-left:10px;
	width:400px;
}
.events_index_item_info_box{
}
.events_index_item_info{
}
.events_index_item_info_date{
	font-size:12px;
	font-weight:bold;
	color: #000000;
	margin-top:5px;
}
.events_index_item_info_location{
	font-size:12px;
	font-weight:bold;
	color: #999999;
	margin-top:10px;
}
.events_index_item_free_ticket a{
	color: #0d74c4;
	background:url("/img/free_ticket_ico.gif") no-repeat 0 1px scroll;
	padding-left: 20px;
}
.events_index_item_free_ticket{
	margin-top:7px;
}
.events_index_item_description{
	margin-top:15px;
	text-align:justify;
}
.events_index_links_box {
	display:none;
}
.events_index_item_hover .events_index_links_box {
	display:block;
}
.events_index_item_hover .events_index_item_content_box{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 7px;
	margin-bottom: 7px;
}
.events_index_item_hover{
	background-color: #fef9df;
}
.events_index_links_box,
.events_index_links_box a{
	line-height: 20px;
	color: #0d74c4;
}
.events_index_links_text {}
.events_index_links_aeroticket {
	background: url(/img/events/aeroticket.png) no-repeat 0 center;
	padding-left: 20px;
	margin-left: 10px;
}
.events_index_links_hostel {
	background: url(/img/events/hostel.png) no-repeat 0 center;
	padding-left: 15px;
	margin-left: 10px;
}
.events_index_links_bussines {
	background: url(/img/events/bussines-tour.png) no-repeat 0 center;
	padding-left: 15px;
	margin-left: 10px;
}
