.body_events_prlines_content {
	padding-top: 10px;
}
.body_events_prlines_content .prlines_title_box .title {
	color: #ffffff;
	font-size: 14px;
	text-decoration: underline;
}
.body_events_prlines_content .prlines_title_box .desc {
	color: #ffffff;
}
.body_events_prlines_content .prlines_title_box .date {
	margin-top: 5px;
	color: #ffcc00;
}
.body_events_prlines_boxes {}
.body_events_prlines_one_box {}
.body_events_prlines_box_content {
	margin: 5px;
	min-height: 36px;
	width: 498px;
}
.body_events_prlines_box_content_left_col {margin-left: 30px;}
.body_events_prlines_box_content_left_col .title,
.body_events_prlines_box_content_left_col .title a{
	color: #dd5500 !important;
	text-decoration: underline;
	font-weight:bold;
	font-size: 14px;
}
.body_events_prlines_box_content_left_col .date {
	color: #000000;
	font-size: 11px;
}
.body_events_prlines_box_content_right_col {}
.body_events_prlines_box_content_right_col .city {text-align: right;}
.body_events_prlines_box_content_right_col  a {
	background: url(/img/index/star.png) no-repeat 0 center scroll transparent;
	padding: 0 0 0 15px !important;
	color: #0d74c4;
	font-size: 11px;
}

.body_events_prlines_content h3 {
	border: 1px solid #d2b77f;
	background: #ffe9bc url(/css/jquery/cupertino/images/ui-bg_glass_80_ffe9bc_1x45.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #0d74c4;
	-moz-border-radius: 6px 6px 6px 6px;
	margin-bottom:3px;
}
.body_events_prlines_content .prlines_title_box {
	cursor: pointer;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 100%;
}