.body_events_accordion_box .title_box div {
	line-height: 25px;
	font-size:18px;
	color: #ff5500;
}
.body_events_accordion_box .title_box .lnk a {
	padding-left: 15px;
	background: url(/img/index/calendar_ico.png) no-repeat 0 center scroll transparent;
	font-size: 11px;
	color: #0d74c4;
	text-decoration: underline;
	margin: 0 12px;
}
.body_events_accordion_box .title_box .add a {
	padding-left: 25px;
	color: #ff5500;
	background: url(/img/index/add_ex.png) no-repeat 0 center scroll transparent;
	text-decoration: underline;
}
.body_events_accordion_box .title_box .add a:hover,
.body_events_accordion_box .title_box .lnk a:hover {
	text-decoration: none
}
.body_events_accordion_content {
	padding-top: 10px;
}
.body_events_accordion_content .accordion_title_box .title {
	color: #ffffff;
	font-size: 14px;
	text-decoration: underline;
}
.body_events_accordion_content .accordion_title_box .desc {
	color: #ffffff;
}
.body_events_accordion_content .accordion_title_box .date {
	margin-top: 5px;
	color: #ffcc00;
}
.body_events_accordion_boxes {}
.body_events_accordion_one_box {}
.body_events_accordion_box_content {
	margin: 5px;
	min-height: 36px;
	width: 498px;
}
.body_events_accordion_box_content_left_col {margin-left: 30px;}
.body_events_accordion_box_content_left_col .title,
.body_events_accordion_box_content_left_col .title a{
	color: #dd5500 !important;
	text-decoration: underline;
	font-weight:bold;
	font-size: 14px;
}
.body_events_accordion_box_content_left_col .date {
	color: #000000;
	font-size: 11px;
}
.body_events_accordion_box_content_right_col {}
.body_events_accordion_box_content_right_col .city {}
.body_events_accordion_box_content_right_col  a {
	background: url(/img/index/star.png) no-repeat 0 center scroll transparent;
	padding: 0 0 0 15px !important;
	color: #0d74c4;
	font-size: 11px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d2b77f;
	background: #ffe9bc url(/css/jquery/cupertino/images/ui-bg_glass_80_ffe9bc_1x45.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #0d74c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #0d74c4;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #e4cc90;
	background: #fff4d1 url(/css/jquery/cupertino/images/ui-bg_glass_100_fff4d1_1x45.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #0b66af;
}
.ui-state-hover a,
.ui-state-hover a:hover {
	color: #0b66af;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #bda270;
	background: #ffd9a7 url(/css/jquery/cupertino/images/ui-bg_glass_50_ffd9a7_1x45.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #0f84d8;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #0f84d8;
	text-decoration: none;
}
.ui-accordion .ui-accordion-header a {
	padding:0;
}
.body_events_accordion_content .accordion_title_box {
	cursor: pointer;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 100%;
}
.accordion_body {
	padding:0 !important;
	position:relative;
	height: 341px;
}
.accordion_body img {
	position: relative;
	width: 100%;
	height: 338px;
}
.accordion_body .title,
.accordion_body .date,
.accordion_body .desc {
	margin: 0 0 0 10px;
}
.accordion_body a,
.accordion_body a:hover,
.accordion_body a:link,
.accordion_body a:visited{
	color:#ffffff !important;
}