@import url("http://ws.expopromoter.com/bns/v2pbl/pbl_banners_partners_style.css");


body#cms-wrapper {
  background: #fff;
}

body#cms-wrapper, #cms-wrapper td, #cms-wrapper p, #cms-wrapper div {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 8pt;
  color: #474747;
}

#cms-wrapper th {
  font-size: 8pt;
}

#cms-wrapper table {
  empty-cells: show;
}


#cms-wrapper .form-table {
  width: 100%;

  border: 0 none;
}

#cms-wrapper .form-table td, #cms-wrapper .form-table th {
  padding: 4px 0;

  border: 0 none;

  text-align: left;
}


#cms-wrapper table.selected_table {
  border: 1px dotted #f4f4f4;
  background: #edf6ff;
}

#cms-wrapper a, #cms-wrapper a:link, #cms-wrapper a:visited, #cms-wrapper a:active {
  color: #4b5e66;
  text-decoration: none;
}

#cms-wrapper a.func_button {
  color: #87969c;
  font-family: Arial;
}

#cms-wrapper a.func_button:hover {
  color: #ffffff;
  text-decoration: none;
  background: #87969c;
}

#cms-wrapper a.page {
  color: #474747;
  font-size: 12px;
}

#cms-wrapper a.current_page {
  color: #ffffff;
  text-decoration: none;
  background: #a6d964;
  padding: 1px 3px 1px 3px;
  font-size: 12px;
}

#cms-wrapper a.current_lang, #cms-wrapper a.current_lang:link, #cms-wrapper a.current_lang:hover, #cms-wrapper a.current_lang:visited {
  color: #FFFFFF;
  text-decoration: none;
  background: #474747;
  padding: 1px;
}

#cms-wrapper a:hover {
  text-decoration: underline;
}

#cms-wrapper h4 {
  margin: 10px 0;
  padding: 0;
  font: 18px normal;
  color: #66a8f3;
  background: none;
  border: 0 none;
}

#cms-wrapper h5 {
  font-size: 16px;
  color: #66a8f3;
  padding: 0px;
  margin: 0px;
}

#cms-wrapper div.leftMenuGroup {
  font-size: 11px;
  font-weight: bold;
  color: #66a8f3;
  cursor:pointer;
  padding-top: 15px;
  margin-bottom: 6px;
  height: 24px;
  width: 205px;
  text-align: right;
  background: url(../../images/admin/top_bg.gif) no-repeat left bottom;
}

#cms-wrapper a.leftMenuSubElement, #cms-wrapper a.leftMenuSubElement:link {
  color: #6b6b6b;
  font-size: 12px;
}

#cms-wrapper a.leftMenuSubElement:hover {
  color: #ffffff;
  text-decoration: none;
  background: #a6d964;
  padding: 1px;
}

#cms-wrapper div.leftMenuGroup ul {
  list-style-type: none;
  padding: 0em;
  margin: 0px 0px 0px 0px;
}

#cms-wrapper div.leftMenuGroup ul li {
  background-repeat: no-repeat;
  background-position: 45px .6em;
  padding-left: 1em;
  padding-right: 10px;
}

#cms-wrapper ul.leftMenuSubElement {
  padding-left: 18px;
  margin: 0px;
  list-style-type: none;
}

#cms-wrapper ul.leftMenuSubElement li {
  padding-bottom: 2px;
}

#shelby_left_menu_td {

}

#shelby_left_menu_td div.leftbg{
  background: url(../../images/admin/left_bg.jpg) repeat-y;
  width: 218px;
}

#shelby_left_menu_td div.leftbg div.leftbg{
  background: url(../../images/admin/left_bg_top.jpg) no-repeat 0 top;
  width: 218px;
}

#shelby_left_menu_td div.leftbg div.leftbg div.leftbg{
  background: url(../../images/admin/left_bg_bottom.jpg) no-repeat 0 bottom;
  width: 218px;
}

#cms-wrapper .green_hilight {
  color: #ffffff;
  background: #a6d964;
}

#cms-wrapper table.list tr.green_hilight td {
  padding: 0 5px 0 5px;
}

#cms-wrapper .blue_hilight {
  color: #ffffff;
  background: #79b3f4;
}

#cms-wrapper table.list tr.blue_hilight td {
  padding: 0 5px 0 5px;
}

#cms-wrapper .red_hilight {
  color: #ffffff;
  background: #d85b00;
}

#cms-wrapper table.list tr.red_hilight td {
  padding: 0 5px 0 5px;
}

#cms-wrapper .yellow_hilight {
  color: #ffffff;
  background: #ffff9b;
}

#cms-wrapper table.list tr.yellow_hilight td {
  padding: 0 5px 0 5px;
}

#cms-wrapper .blue_hilight a {
  color: #ffffff;
}

#cms-wrapper table.list {
  border: 1px solid #BBAADD;
}

#cms-wrapper table.list tr.odd:hover td, table.list tr.even:hover td {
  background-color: #d7d7d7;
}

#cms-wrapper table.list th {
  color: #000000;
  font: 12px normal;
  background: #edf6ff url(../../images/admin/green_down_2px.gif) no-repeat right 10px;
}

#cms-wrapper table.list th a {
  color: #000000;
  font: 12px normal;
}

#cms-wrapper table.list tr.odd td {
  background-color: #fcfbfb;
/*   color: #474747; */
  height: 19px;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

#cms-wrapper table.list tr.even td {
  background-color: #f8f4f4;
/*   color: #474747; */
  height: 19px;
  padding: 0 5px 0 5px;
}

#cms-wrapper table.list tr.marked td {
  background-color: #11FF11;
/*   color: #474747; */
  height: 19px;
  padding: 0 5px 0 5px;
}

#cms-wrapper table.list tr.marked_red td {
  background-color: #FEEBEA;
}

#cms-wrapper table.list tr.marked_blue td {
  background-color: #B4ACFF;
/*   color: #474747; */
  height: 19px;
  padding: 0 5px 0 5px;
}

#shelby_content_td {
  padding-left: 10px;
}


#cms-wrapper table.list tr.disabled td {
  color: #999 !important;
}


#cms-wrapper div.default_form_label {
  float: left;
  clear: left;
  min-width: 100px;
}

#cms-wrapper div.default_form_field {
  float: left;
}

#cms-wrapper tr.popupAutocomplete td {
  cursor:pointer;
  border-bottom: 1px solid #CCCCCC;
}


.msg_answer {
  position: relative;

  margin: 0 0 5px 0;
  padding: 10px 10px 10px 30px;

  background: #EFEFEF;
}

.msg_question {
  position: relative;

  margin: 0 0 5px 0;
  padding: 10px 10px 10px 10px;

  background: #DEDEDE;
}

.msg_header {
  font-weight: bold;
  font-size: 95%;
  color: #666;
}

.msg_tagline {
  margin: -10px -10px 5px -10px;
  padding: 2px;

  font-size: 80%;
  color: #FFF !important;

  background: #777;
}

.msg_answer .msg_tagline {
  margin: -10px -10px 5px -30px !important;
}

#langbar {
  margin: 10px 0;
}

#langbar td {
  border-bottom: 2px solid #A6CEFF;
}

#langbar td.active {
  border-top: 2px solid #A6CEFF;
  border-left: 2px solid #A6CEFF;
  border-right: 2px solid #A6CEFF;
  border-bottom: 2px solid #FFFFFF;
}





/************************
* Универсальные классы
************************/

.w10  { width:  10% !important; }
.w20  { width:  20% !important; }
.w30  { width:  30% !important; }
.w40  { width:  40% !important; }
.w50  { width:  50% !important; }
.w60  { width:  60% !important; }
.w70  { width:  70% !important; }
.w80  { width:  80% !important; }
.w90  { width:  90% !important; }
.w100 { width: 100% !important; }



/************************
* Унифицированная форма
************************/

form.cmxform fieldset {
  margin-bottom: 5px;
  padding: 5px;
  
  border: 1px solid #889BA8;
}

form.cmxform legend {
  padding: 0 5px;
  margin-left: -5px;

  font-weight: normal;
  font-size: 100%;
}

form.cmxform label {
  display: inline-block;
  
  padding-left: 5px;
  
  line-height: 1.2;

  vertical-align: top;
}

form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}

form.cmxform fieldset li {
  list-style: none;

  padding: 4px 0;
  margin: 0;

  font-size: 100%;
}

form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0 0;
  padding: 0;
}

form.cmxform fieldset fieldset legend {
  padding: 0 0 5px 5px;
  margin: 0;
  
  font-size: 100%;
  font-weight: normal;
}

form.cmxform input, form.cmxform select, form.cmxform textarea {
  margin: 0;
  
  width: 72%;
}

form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}

form.cmxform fieldset fieldset input {
  width: auto;
}

form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form.cmxform label {
  width: 25%; /* Width of labels */
}

form.cmxform fieldset fieldset label {
  margin-left: 25%; /* Width of labels + margin */
}


form.cmxform .even {
  background: #F7FBFD;
}

form.cmxform .odd {
  background: #FCFEFE;
}


.form-container {
  width: 70%;
  
  margin: 0 auto 1em auto;
  
  font-size: 100%;
}


form.cmxform button {
  padding: 6px 12px;
}


