.all_companies_card_content_box {
	margin: 10px;
	color: #999999;
}
.all_companies_card_content_box div {
	position: relative;
}

.all_companies_card_content_box a {
	text-decoration: underline;
	color: #999999;
}
.all_companies_card_content_box a:hover {
	text-decoration: none;
}
.companies_card_crumbs {
	padding: 5px 0;
}
.companies_card_desc_box {}
.companies_card_desc_box .left_col {}
.companies_card_desc_box .right_col {
	width: 190px;
}
.companies_card_title_box {
	color: #dd5500;
	font-size: 18px;
	line-height: 18px;
	padding: 5px 0 10px;
	font-weight: bold;
}
.companies_card_title_box span {float:left;clear:none;}
.companies_card_title_box a {
	font-size: 11px;
	color: #999999;
	float: left;
	clear: none;
}
.companies_card_title_box div.fav_ico {
	background: url(/img/index/star.png) no-repeat;
	width: 12px;
	height: 11px;
	margin:5px 2px 0 10px;
}
.companies_card_main_info {}
.companies_card_info_img {
	background: url(/img/companies_logo_big_bg.png) no-repeat;
	width: 130px;
	height: 130px;
	vertical-align: middle;
	line-height: 127px;
	text-align: center;
	border: 1px solid #cccccc;
}
.companies_card_info_img img {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
	//display:inline;
	position: relative;
}
.companies_card_info {
	font-size: 12px;
}
.companies_card_info .text{
	text-align: right;
	width: 65px;
}
.companies_card_info .contact .place{
	color: #333333;
	font-weight: bold;
}
.companies_card_info .contact .address{
	color: #333333;
	width: 500px;
}
.companies_card_outer {
	background: #ebf6ff;
}
.companies_card_inner {
	padding: 10px;
}
.companies_card_right_lnk_row {
	margin-top: 5px;
}
.companies_card_right_lnk_row a {
	font-size: 12px;
	margin-left: 5px;
	color: #0054a6 !important;
}
/*
.companies_card_send_msg_ico,
.companies_card_star_ico,
.companies_card_map_ico {
	background: url(/img/companies/send_msg_ico.png) no-repeat center center;
	width: 17px;
	height: 16px;
}
.companies_card_star_ico {  background: url(/img/companies/top_company_star.png) no-repeat center center;}
.companies_card_map_ico {  background: url(/img/companies/map_ico.png) no-repeat center center; }
*/
.subscribe_box {
	padding: 10px 0;
	width: 100%;
}
.companies_card_something {
	margin-top:10px;
}
.companies_card_something .left_border,
.companies_card_something .right_border{
	width: 5px;
	height: 35px;
}
.companies_card_something .left_border {    background: url(/img/card/subscribe_left.png) no-repeat; }
.companies_card_something .right_border{    background: url(/img/card/subscribe_right.png) no-repeat; }
.companies_card_something .body_center {
	background: #eff0f1;
	line-height: 35px;
	width: 690px;
}
.companies_card_something .body_center a {
	float: left;
	margin-left: 10px;
	clear: none;
}
.companies_card_something .body_center span {
	margin-right: 10px;
	float: right;
	clear: none;
}
.adm_msg_box {
	background: #f1f6fb;
	border: 1px solid #d2e2f2;
	margin-top: 10px;
}
.adm_msg_title {
	text-align: center;
	color: #0054a6;
	font-size: 14px;
	margin-top: 10px;
}
.adm_msg_content {
	padding: 10px;
}
.adm_msg_content input,select {
	margin-bottom: 5px;
	width: 290px;
	height: 15px;
	float: left;
	clear: none;
}
.adm_msg_content select {height: 20px;}
.adm_msg_content_left {
	width: 340px;
	margin-left: 10px;
	float: left;
	clear: none;
}
.adm_msg_content span {
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	float: left;
	clear: none;
}
.adm_msg_content em {
	color: #red;
}
.adm_msg_content_right {
	width: 315px;
}
.adm_msg_content_submit input {
	float: right;
	clear: none;
	width: 58px;
	height: 20px;
	margin-right: 20px;
}
.card_tabs_box {
	margin-top: 10px;
}

.companies_card_description_box {
	color: #333333;
}
.companies_card_description_box .title {
	font-size: 18px;
}
.companies_card_description_box .text {
	margin-top: 10px;
	font-size: 12px;
	text-align: justify;
}
.companies_card_news_tab {
	padding: 10px 10px 0;
}
.companies_card_one_news {
	margin-top: 15px;
}
.companies_card_one_news_img {
	margin-top: 7px;
	width: 54px;
	height: 50px;
	vertical-align: middle;
	line-height: 47px;
	text-align: center;
}
.companies_card_one_news_img img {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
	//display:inline;
	position: relative;
	max-width:54px;
	max-height:50px;
}
.companies_card_one_news_desc {
	margin-left:10px;
	width:595px;
}
.companies_card_one_news_desc_title a {
	color: #0054a6;
	font-weight: bold;
	margin-top: 10px;
	font-size: 14px;
}
.companies_card_one_news_desc_text {
	color: #333333;
	font-size: 12px;
}
.companies_card_news_date {
	font-size: 10px;
	color: #999999;
}
div.news_full_header {
	font-size: 18px;
	color: #dd5500;
	margin: 10px 0;
}
div.news_full span {
	color: #666666;
}
div.news_full span p {
	margin-top: 10px;
}
div.news_full a {
	color: #999999;
}
.companies_card_services_tab {
	padding: 10px 10px 0;
}
.companies_card_one_services {
	margin-top: 15px;
}
.companies_card_one_services_img {
	margin-top: 7px;
	width: 54px;
	height: 50px;
	vertical-align: middle;
	line-height: 47px;
	text-align: center;
}
.companies_card_one_services_img img {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
	//display:inline;
	position: relative;
	max-width:54px;
	max-height:50px;
}
.companies_card_one_services_desc {
	margin-left:10px;
	width:500px;
}
.companies_card_one_services_desc_title a {
	color: #0054a6;
	font-weight: bold;
	margin-top: 10px;
	font-size: 14px;
}
.companies_card_one_services_desc_text {
	color: #333333;
	font-size: 12px;
}
.companies_card_services_date {
	font-size: 10px;
	color: #999999;
}
div.services_full_header {
	font-size: 18px;
	color: #dd5500;
	margin: 10px 0;
}
div.services_full span {
	color: #666666;
}
div.services_full span p {
	margin-top: 10px;
}
div.services_full a {
	color: #999999;
}