.companies_index_main_content_box {}
.companies_index_main_content_box .title {
	font-size: 18px;
	font-weight: bold;
	color: #dd5500;
	margin: 10px 0;
}
.companies_index_main_content_box .lnk {
	line-height: 20px;
}
.companies_index_main_content_box .lnk a {
	color: #0d74c4;
}
.companies_index_main_content_box .lnk em {
	font-size: 9px;
	font-style: normal;
	color: #999999;
}
