/* BODY  */
.companies_index_main_content_box {}
.companies_index_main_content_box .title {
	font-size: 18px;
	font-weight: bold;
	color: #dd5500;
	margin: 10px 0;
}
.companies_index_main_content_box .lnk {
	line-height: 20px;
}
.companies_index_main_content_box .lnk a {
	color: #0d74c4;
}
.companies_index_main_content_box .lnk em {
	font-size: 9px;
	font-style: normal;
	color: #999999;
}
/* END BODY */

/*RIGHT BLOCK*/
.banner_box {
	width: 250px;
	height: 250px;
}
.companies_index_right_news_box {
	width: 250px;
	margin-top: 10px;
}
.right_news_title_box {}
.right_news_l_edge,
.right_news_r_edge {
	background: url(/img/index/left_f.png) no-repeat 0 0 scroll transparent;
	width: 6px;
	height: 28px;
}
.right_news_r_edge {  background: url(/img/index/right_f.png) no-repeat 0 0 scroll transparent; }
.right_news_title {
	background: url(/img/index/center_f.png) repeat-x 0 0 scroll transparent;
	color: #0054a6;
	line-height: 28px;
	text-align: center;
	width: 238px;
	font-size: 14px;
	font-weight: bold;
}
.right_news_content_box {
	border: 1px solid #bfcedc;
	padding: 10px;
}
.right_news_one_row {
	margin-top: 5px
}
.right_news_one_row img {
	width:100px;
	height: 100px;
	float: left;
	clear: none;
}
.right_news_text_box {
	margin-left: 10px;
	width: 110px;
}
.right_news_text_box span {
	margin-top: 5px;
	color: #444444;
	font-size: 10px;
}
.right_news_text_box a {
	display: block;
	color: #0054a6;
	font-size: 12px;
}
/*END RIGHT BLOCK*/


/*CENTER BLOCK*/
.add_comp_box {
	width: 100%;
	background: url(/img/index/add_ex.png) no-repeat 0 0px scroll;
	padding-left: 30px;
}
.add_comp_box a {
	color: #dd5500;
	font-size: 14px;
	display: block;
	font-weight: bold;
}
.add_comp_box em {
	color: #0054a6;
	font-style: normal;
}

.companies_index_center_top_comp_box {
	width: 100%;
	margin-top: 10px;

}
.center_top_comp_title_box {}
.center_top_comp_l_edge,
.center_top_comp_r_edge {
	background: url(/img/index/left_f.png) no-repeat 0 0 scroll transparent;
	width: 6px;
	height: 28px;
}
.center_top_comp_r_edge {  background: url(/img/index/right_f.png) no-repeat 0 0 scroll transparent; }
.center_top_comp_title {
	background: url(/img/index/center_f.png) repeat-x 0 0 scroll transparent;
	color: #0054a6;
	line-height: 28px;
	text-align: center;
	width: 184px;
	font-size: 14px;
	font-weight: bold;
}
.center_top_comp_content_box {
	border: 1px solid #bfcedc;
	padding: 10px;
}
.center_top_comp_text_box {
	margin-top: 10px;
	width: 110px;
}
.center_top_comp_text_box span {}
.center_top_comp_text_box a {
	display: block;
	color: #0d74c4;
	font-size: 12px;
}
/*END CENTER BLOCK*/