#content,
#body {
	width: 100% !important;
}
.online_sq {
	position: absolute;
	background: no-repeat 0 0 scroll;
}
.inner_online_sq {
	position: absolute;
	bottom: 7px;
	left: 7px;
}
.inner_online_content_box {
	background-color:#ffffff;
	margin: 1px 0 0 1px;
	vertical-align: middle;
}
.inner_online_content_box img {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
	//display:inline;
	position: relative;
}

.exhib_cat_back_lnk a { color: #999999;}
.exhib_cat_content_box {margin: 10px 0;}
.exhib_cat_title_box {}
.exhib_cat_title_box .title{
	color: #dd5500;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.exhib_cat_title_box a {
	margin-left: 20px;
	float: left;
	clear: none;
}
.add_comp_box {
	background: url(/img/index/add_ex.png) no-repeat 0 0px scroll;
	padding-left: 30px;
}
.add_comp_box a {
	color: #dd5500;
	font-size: 14px;
	display: block;
	font-weight: bold;
}
.add_comp_box em {
	color: #0054a6;
	font-style: normal;
}
.sqares_outer_box {
	border: 1px solid #a9d6ec;
	background-color: #ebf6ff;
	width:100%;
}
.sqares_inner_box {
	margin: 4px;
	background-color: #fff;
	border: 1px solid #a9d6ec;
	position: relative;
}
