.center_banner_recommends_head .center_f span{
	color:#000099;
}
.center_banner_recommends_head .center_f span span.highlight{
	margin:0;
	color: #F08B0C;
}
.center_banner_recommends_head .center_f span span.normal{
	margin:0;
	color: #0054A6;
}
.center_banner_recommends_content_box {
	border: 1px solid #bfcedc;
	padding: 10px;
}
.center_banner_recommends_advert_box{
	margin-bottom: 10px;
}
.center_banner_recommends_advert_title {
	color: #EF4447;
	font-size: 13px;
	font-weight:bold;
}
.center_banner_recommends_one_row {
	margin-top: 5px;
}
.center_banner_recommends_text_box {
}
.center_banner_recommends_text_box span.date {
	color: #999999;
	font-size: 9px;
}
.center_banner_recommends_text_box a {
	display: block;
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}
.center_banner_recommends_text_box a:hover {
	color: #0d74c4;
	text-decoration: underline;
}