/* zheltenkie prikoli pod glavnoi photkoi *
.boxes {padding-top: 10px;}
.one_box {}
.one_box .lb {
    background: url(/img/index/left_b.png) no-repeat 0 0 scroll transparent;
    width: 7px;
    height: 46px;
}
.one_box .rb {
    background: url(/img/index/right_b.png) no-repeat 0 0 scroll transparent;
    width: 7px;
    height: 46px;
}
.box_content {
    width: 486px;
    min-height: 36px;
    background: #ffe9bc;
    border-bottom: 1px solid #d2b77f;
    padding: 5px;
}
.box_content_left_col {}
.box_content_left_col .title {
    color: #dd5500;
    text-decoration: underline;
    font-weight:bold;
    font-size: 14px;
}
.box_content_left_col .date {
    color: #000000;
    font-size: 11px;
}
.box_content_right_col {}
.box_content_right_col .city {}
.box_content_right_col  a {
    background: url(/img/index/star.png) no-repeat 0 center scroll transparent;
    padding-left: 15px;
    color: #0d74c4;
    font-size: 11px;
}
/* END zheltenkie prikoli pod glavnoi photkoi */
