.extra_products_inner_content {
	background-color: #ebf6ff !important;
}
.extra_products_box{
}
.extra_products_title {
	line-height:20px;
	margin:10px;
}
.extra_products_title span {
	margin-right: 10px;
	font-size: 18px;
	color: #dd5500;
	float: left;
	clear: none;
}
.extra_products_title a {
	float: left;
	clear: none;
	width: 19px;
	height: 19px;
	border: 0;
	margin: 0;
	text-decoration:none;
}
.extra_products_title a.extra_products_prev {
	background: url(/img/index/btn_l.png);
}
.extra_products_title a.extra_products_next {
	background: url(/img/index/btn_r.png);
}
.extra_products_title em {
	margin-left: 10px;
	font-size: 11px;
	color: #666666;
	font-style: normal;
	float: left;
	clear: none;
}
.extra_products_images_box {
	margin: 10px 0;
}
.extra_products_image_box {
	width: 110px;
	height: 110px;
	margin-left:7px;
	margin-bottom: 7px;
	border: 1px solid #dddddd;
	background: #ffffff;
	line-height: 110px;
	vertical-align: middle;
}
.extra_products_image_box img {
	width: 110px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
	//display:inline;
	position: relative;
}
.extra_products_body {
	height: 246px;
}
.extra_products_images_box .page {
	width: 720px;
	height: 236px;
}
