
.center_events_news_content_box {
	border: 1px solid #bfcedc;
	padding: 10px;
}
.center_events_news_one_row {
	margin-top: 5px;
}
.center_events_news_text_box {
}
.center_events_news_text_box span.date {
	color: #999999;
	font-size: 9px;
}
.center_events_news_text_box a {
	display: block;
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}
.center_events_news_text_box a:hover {
	color: #0d74c4;
	text-decoration: underline;
}