.add_comp_box {
  width: 100%;
  background: url(/img/index/add_ex.png) no-repeat 0 0px scroll;
  padding-left: 30px;
}
.add_comp_box a {
  color: #dd5500;
  font-size: 14px;
  display: block;
  font-weight: bold;
}
.add_comp_box em {
  color: #0054a6;
  font-style: normal;
  }

.companies_index_center_top_comp_box {
  width: 100%;
  margin-top: 10px;

}
.center_top_comp_title_box {}
.center_top_comp_l_edge,
.center_top_comp_r_edge {
    background: url(/img/site/left_f.png) no-repeat 0 0 scroll transparent;
    width: 6px;
    height: 28px;
}
.center_top_comp_r_edge {  background: url(/img/site/right_f.png) no-repeat 0 0 scroll transparent; }
.center_top_comp_title {
    background: url(/img/site/center_f.png) repeat-x 0 0 scroll transparent;
    color: #0054a6;
    line-height: 28px;
    text-align: center;
    width: 183px;
    font-size: 14px;
    font-weight: bold;
}
.center_top_comp_content_box {
    border: 1px solid #bfcedc;
    padding: 10px;
}
.center_top_comp_text_box {
   margin-top: 10px;
   width: 110px;
}
.center_top_comp_text_box span {}
.center_top_comp_text_box a {
    display: block;
    color: #0d74c4;
    font-size: 12px;
}